.b-progress-bar__mark
{
    text-align: center;
    line-height: 100%;
    vertical-align: top;

    font-size: 9px;
    font-family: Verdana, Arial;

    font-weight: bold;

    color: #666666;

    position: absolute;
    width: 100%;
    margin: 0 auto;

}
