.b-questionnaire
{
    margin: 0 auto;
    max-width: 921px;
    line-height: 1.4em;
    color: #333333;
}

.b-questionnaire__title
{
    font-size: 180%;
    font-weight: 400;
    padding-bottom: 15px;
    color: #000000;
}

.b-questionnaire__title_size_middle
{
    font-size: 135%;
    font-weight: bold;
    color: #333333;

    padding-top: 35px;
    padding-bottom: 40px;
}