.b-form
{
}

.b-form__title
{
    font-size: 150%;
    font-weight: 400;
    padding-top: 35px;
    padding-bottom: 35px;
}

.b-form__error
{
    color: red;
    margin-top: 0.25em;
    display: none;
}

.b-form__error_show_yes
{
    display: block;
}