.b-layout-table_layout_cells
{
}

.b-layout-table_layout_cells .b-layout-table__cell_position_l
{
    width: 25%;
    text-align: left;

    vertical-align: top;

}

.b-layout-table_layout_cells .b-layout-table__cell_text_italic
{
    font-style: italic;
}

.b-layout-table_layout_cells .b-layout-table__cell_position_r-question
{
}

.b-layout-table_layout_cells .b-layout-table__cell
{
    padding: 0.4em 0.5em 0.5em 0px;
}