.b-layout-table_layout_cells
{
}

.b-layout-table_layout_cells .b-layout-table__cell_position_l
{
    width: 25%;
    text-align: left;

    padding-top: 0.4em;
}

.b-layout-table_layout_cells .b-layout-table__cell_text_italic
{
    font-style: italic;
}

.b-layout-table_layout_cells .b-layout-table__cell_position_r-question
{
    padding-top: 0.4em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0px;
}
