.b-layout-table_layout_cells
{
}

.b-layout-table_layout_cells .b-layout-table__cell_position_l
{
    width: 25%;
    text-align: left;

    vertical-align: top;

}

.b-layout-table_layout_cells .b-layout-table__cell_text_italic
{
    font-style: italic;
}

.b-layout-table_layout_cells .b-layout-table__cell_position_r-question
{
}

.b-layout-table_layout_cells .b-layout-table__cell
{
    padding: 0.4em 0.5em 0.5em 0px;
    max-width: 685px;
}

.b-layout-table_layout_cells .b-layout-table__row_hide_yes
{
    display: none;
}

.b-layout-table_layout_cells .b-layout-table__cell_type_agree
{
    color: #000;
}

.b-layout-table_layout_cells .b-layout-table__cell_type_footer
{
    text-align: center;
    background: #e7e7e7;
}

.b-layout-table_layout_cells .b-layout-table__text
{
    min-height: 20px;
    max-height: 1000px;
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    -o-transition: all 2s linear;
    -ms-transition: all 2s linear;
    transition: all 2s linear;

    overflow: hidden;
}

.b-layout-table_layout_cells .b-layout-table__text_height_20
{

    max-height: 20px;

    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    transition: all 0.1s linear;

    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}